{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "globals": {
        "fetch": true,
        "FormData": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "node",
        "promise"
    ],
    "rules": {
        "camelcase":"off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/require-default-props": [
            0
        ],
        "react/no-unused-prop-types": [
            2,
            {
                "skipShapeProps": true
            }
        ],
        "react/no-multi-comp": [
            0
        ],
        "no-bitwise": [
            0
        ],
        "prefer-promise-reject-errors": "off"
    }
}